/.vs
/bin
/obj
/obj
/obj/Debug
/obj/Debug/net9.0-windows
/obj
obj/Debug/net9.0-windows/apphost.exe
obj/Debug/net9.0-windows/MilkBot.AssemblyInfo.cs
obj/Debug/net9.0-windows/MilkBot.AssemblyInfoInputs.cache
obj/Debug/net9.0-windows/MilkBot.csproj.FileListAbsolute.txt
obj/Debug/net9.0-windows/MilkBot.csproj.GenerateResource.cache
obj/Debug/net9.0-windows/MilkBot.dll
obj/Debug/net9.0-windows/MilkBot.MainForm.resources
obj/Debug/net9.0-windows/MilkBot.pdb
obj/Debug/net9.0-windows/ref/MilkBot.dll
obj/Debug/net9.0-windows/refint/MilkBot.dll
